@charset "UTF-8";
/*=============================================
=            General CSS Style                =
=============================================*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: San Francisco, "微軟正黑體", "Microsoft JhengHei", Tahoma, verdana, STHeiti, serif, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  font-style: italic;
  font-weight: 700;
}

h1 {
  font-size: 80px;
  line-height: 94px;
  font-weight: 900;
}

h2 {
  font-size: 64px;
  line-height: 75px;
}

p {
  font-size: 24px;
  line-height: 36px;
}

.test {
  border: 1px solid red;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jusitify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-center {
  text-align: center;
}

.pt-64 {
  padding-top: 64px;
}

.pb-48 {
  padding-bottom: 48px;
}

.text-color-white {
  color: white;
}

.text-color-black {
  color: black;
}

.m-auto {
  margin: 0 auto;
}

/*=====  End of General css style  ======*/
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 324px;
}

.header .header-content {
  padding-bottom: 64px;
}

.header .header-title {
  position: relative;
  padding-bottom: 32px;
}

.header .header-title::before {
  position: absolute;
  content: "Here’s";
  font-size: 24px;
  line-height: 36px;
  font-style: italic;
  font-weight: bold;
  top: -28px;
}

.socialMedia {
  margin-bottom: 256px;
}

.socialMedia .socialMedia-icons {
  margin-left: 8px;
  margin-right: 8px;
}

.about .about-title {
  margin-bottom: 40px;
}

.about .about-img {
  margin-bottom: 24px;
}

.about .about-content {
  margin-bottom: 8px;
}

.about .about-list {
  margin-top: 24px;
  margin-bottom: 56px;
  padding-top: 18px;
  border-top: 1px solid black;
}

.about .about-list .about-list-item {
  display: inline-block;
  position: relative;
  padding: 16px 0px;
  font-size: 24px;
  line-height: 42px;
}

.about .about-list .about-list-item::before {
  display: block;
  content: "";
  color: #891818;
  position: absolute;
  top: 27px;
  left: -22px;
  width: 22px;
  height: 22px;
  background-color: #891818;
  border-radius: 50%;
}

footer {
  padding-bottom: 80px;
  background-color: black;
}

footer .contact-info {
  padding-top: 16px;
}
/*# sourceMappingURL=style.css.map */