.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.d-flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.jusitify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}
